@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div ng-app="ProductsSPA">
    <div ng-view>

    </div>
</div>


@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        angular
            .module('ProductsSPA', ['ngRoute'])
            .config(function ($routeProvider) {
                $routeProvider
                    .when('/',
                        {
                            templateUrl: 'pages/products.html',
                            controller: 'ProductsController'
                        })
                    .when('/categories',
                        {
                            templateUrl: 'pages/categories.html',
                            controller: 'CategoriesController'
                        })
                    .when('/addCategory',
                        {
                            templateUrl: 'pages/addEditCategory.html',
                            controller: 'AddCategoryController'
                        })
                    .when('/addProduct',
                        {
                            templateUrl: 'pages/addEditProduct.html',
                            controller: 'AddProductController'
                        })
                    .when('/editCategory/:categoryId',
                        {
                            templateUrl: 'pages/addEditCategory.html',
                            controller: 'EditCategoryController'
                        })
                    .when('/editProduct/:productId',
                        {
                            templateUrl: 'pages/addEditProduct.html',
                            controller: 'EditProductController'
                        })
                    .otherwise({
                        redirectTo: '/'
                    });
            })
            .controller('ProductsController', ['$scope', '$http', function ($scope, $http) {
                $scope.products = [];
                $scope.categories = [];

                $scope.selectedCategory = null;

                $http.get('@Url.Action("GetCategories", "Categories")')
                    .then(function (response) {
                        $scope.categories = response.data;
                    });

                $scope.Delete = function (product) {
                    $http.delete('@Url.Action("GetProducts", "Products")/' + product.id).then(function (response) {
                            var index = $scope.products.indexOf(product);
                            $scope.products.splice(index, 1);
                        });
                }

                $scope.GetProducts = function () {
                    var url = '@Url.Action("GetProducts", "Products")';
                    if ($scope.selectedCategory) {
                        url += '?categoryId=' + $scope.selectedCategory.id;
                    }
                    $http.get(url)
                        .then(function (response) {
                            $scope.products = response.data;
                        });
                };

                $scope.GetProducts(null);

            }])
            .controller('AddProductController', ['$scope', '$http', '$location', function ($scope, $http, $location) {
                $scope.product =
                {
                    id: 0,
                    productName: '',
                    categoryId: null,
                    description: '',
                    price: null
                };
                $scope.categories = [];

                $http.get('@Url.Action("GetCategories", "Categories")')
                    .then(function (response)
                    {
                        $scope.categories = response.data
                    });

                $scope.SaveProduct = function () {
                    $http.post('@Url.Action("PostProduct", "Products")', $scope.product)
                        .then(function (response) {
                            $location.path('/products');
                        })
                }
            }])
            .controller('EditProductController', ['$scope', '$http', '$location', '$routeParams', function ($scope, $http, $location, $routeParams) {
                $scope.product =
                {
                    id: 0,
                    productName: '',
                    categoryId: null,
                    description: '',
                    price: null
                };
                $scope.categories = [];

                $http.get('@Url.Action("GetCategories", "Categories")')
                    .then(function (response)
                    {
                        $scope.categories = response.data
                    });


                $http.get('@Url.Action("GetProducts", "Products")/' + $routeParams.productId)
                    .then(function (response) {
                        $scope.product = response.data;
                    });

                $scope.SaveProduct = function()
                {
                    $http.put('@Url.Action("GetProducts", "Products")/' + $routeParams.productId, $scope.product)
                        .then(function(response)
                        {
                            $location.path('/products');
                        })
                }
            }])
            .controller('CategoriesController', ['$scope', '$http', function ($scope, $http) {
                $scope.categories = [];
                $http.get('@Url.Action("GetCategories", "Categories")')
                    .then(function (response) {
                        $scope.categories = response.data;
                    });

                $scope.Delete = function (category) {
                    $http.delete('@Url.Action("GetCategories", "Categories")/' + category.id).then(function (response) {
                            var index = $scope.categories.indexOf(category);
                            $scope.categories.splice(index, 1);
                        });
                }

            }])
            .controller('AddCategoryController', ['$scope', '$http', '$location', function ($scope, $http, $location) {
                $scope.category =
                {
                    id: 0,
                    name: ''
                };
                $scope.SaveCategory = function () {
                    $http.post('@Url.Action("PostCategory", "Categories")', $scope.category)
                        .then(function (response) {
                            $location.path('/categories');
                        })
                }
            }])
            .controller('EditCategoryController', ['$scope', '$http', '$location', '$routeParams', function ($scope, $http, $location, $routeParams) {
                $scope.category =
                {
                    id : 0,
                    name : ''
                };

                $http.get('@Url.Action("GetCategories", "Categories")/' + $routeParams.categoryId)
                    .then(function (response) {
                        $scope.category = response.data;
                    });

                $scope.SaveCategory = function()
                {
                    $http.put('@Url.Action("GetCategories", "Categories")/' + $routeParams.categoryId, $scope.category)
                        .then(function(response)
                        {
                            $location.path('/categories');
                        })
                }
            }]);

    </script>
}